name: Lint, Test & Release

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:

permissions:
  contents: read

jobs:
  commitlint:
    name: Lint commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Lint commit
        if: github.event_name == 'push'
        run: npx commitlint --from HEAD~1 --to HEAD --verbose
      - name: Lint commits
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
  codelint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Lint code
        run: npm run lint
  buildlint:
    name: Check built files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Build files
        run: npm run build
      - name: Check built files
        run: git diff-files --quiet -w
  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs:
      - commitlint
      - codelint
      - buildlint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Run tests
        run: npm run test -- --forbid-only
  coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    needs:
      - commitlint
      - codelint
      - buildlint
    permissions:
      contents: read
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      - name: Install deps
        run: npm ci
      - name: Test code
        run: npm run test:coverage -- --forbid-only
      - name: Report coverage
        run: |
          echo "# Code coverage" >> $GITHUB_STEP_SUMMARY
          npx nyc report | sed --expression='1d;$d'  >> $GITHUB_STEP_SUMMARY
        if: ${{ !cancelled() }}
  runaction:
    needs:
      - commitlint
      - codelint
      - buildlint
      - test
    strategy:
      matrix:
        os: [ 'windows-2022', 'windows-2019' ]
        sqlserver: [ 'sql-latest', 'sql-2022', 'sql-2019', 'sql-2017', 'sql-2016', 'sql-2014', 'sql-2012', 'sql-2008' ]
        # These sqlserver versions don't work on windows-2022 (at the moment)
        exclude:
          - os: windows-2022
            sqlserver: sql-2008
          - os: windows-2022
            sqlserver: sql-2012
          - os: windows-2022
            sqlserver: sql-2014
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install sql server
        uses: ./
        with:
          sqlserver-version: ${{ matrix.sqlserver }}
          native-client-version: 11
          odbc-version: 17
  release:
    name: Release
    concurrency: release
    if: ${{ github.repository_owner == 'tediousjs' && github.event_name == 'push' && github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs:
      - commitlint
      - codelint
      - buildlint
      - test
      - runaction
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
